[DEFAULT]
aggregation=True
search_by_broadcast=True
service_providers=default, cornmeal-sp
image_api_versions = v2.3, v2.2, v2.1, v2.0, v1.1, v1.0
volume_api_versions = v3.0, v2.0, v1.0

[database]
connection="sqlite:////home/ubuntu/proxy.db"

[auth]
auth_url="http://127.0.0.1:5000/v3"
username="admin"
user_domain_id="default"
password="nomoresecrete"
project_name="admin"
project_domain_id="default"
caching=True

[cache]
enabled=True
backend=dogpile.cache.memory

[sp_default]
sp_name=default
messagebus="rabbit://stackrabbit:stackqueue@localhost"
auth_url="http://127.0.0.1:5000/v3"
image_endpoint="http://localhost:9292"
volume_endpoint="http://localhost:8776"
enabled_services=image, volume

[sp_cornmeal-sp]
sp_name=cornmeal-sp
messagebus="rabbit://stackrabbit:stackqueue@192.168.0.141"
auth_url="http://192.168.0.141:5000/v3"
image_endpoint="http://192.168.0.141:9292"
volume_endpoint="http://192.168.0.141:8776"
enabled_services=image, volume

# Logging
[loggers]
keys = root

[handlers]
keys = stdout

[formatters]
keys = default

[logger_root]
level = DEBUG
handlers = stdout
formatter = default
